<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <%= csrf_meta_tag %> <!--Security feature against cross-site request forgery-->
  </head>
  <body>
    <%= yield %> <!--Laddar innehåll till mainlayout-->
  </body>
</html>